.cards-container {
  display: grid;
  gap: 5px;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .cards-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  .card {
    margin-top: 15px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .cards-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .card {
    margin-top: 15px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cards-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  .card {
    margin-top: 15px;
  }
}
