.items-container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../images/slider-image1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-box {
  position: absolute;
  width: 75%;
  top: 40%;
  left: 5%;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .text-box {
    position: absolute;
    top: 8%;
  }
}
